*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    justify-self: center;
    padding: 4px 72px 4px 63px;
    box-shadow: 0px 0px 6px -2px;
    position: sticky;
    top: 0px;
    width: 90%;
    background-color: white;
    z-index: 1;


}
ul{
    display: flex;
    gap: 39px;
        font-weight: 500;
            font-size: 17px;
            align-items: center;
        }
        li{
            list-style-type: none;
            
        }
        .logo{
            height: 68px;
        }
        .logo:hover{
            cursor: pointer;
        }
        a:hover{
            cursor: pointer;
            color: rgb(58, 58, 58);
     transition: 0.3s ease;

        }
        .pages > i{
            display: none;
            font-size: 25px;
            position: relative;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
        .fa-bars:hover{
            cursor: pointer;
            color: rgb(58, 58, 58);
        }
        
        
        #home{
           
            background-color: #ffc0cbab;
            height: 520px;
            
        }
        .home-content{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 223px 0px 140px;
}
h2{
    font-size: 49px;
    margin-bottom: 22px;
}
.headphone1{
    height: 505px;

}
.shop-btn{
    padding: 14px 30px 14px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: green;
    background-color: white;
    font-weight: 500;
}
.shop-btn:hover{
    background-color: green;
    color: white;
    cursor: pointer;
     transition: 0.3s ease;

}
.fa-cart-shopping{
    margin-right: 6px;
}
.fa-star{
    color: rgb(255,212,59);
}
.reviews{
display: flex;
flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;

}
p{
    width: 418px;
}
.order-btn{
     padding: 13px 20px 13px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background-color: rgb(0, 116, 194);
    color: white;
    font-weight: 500;
    border: 1px solid gray;
}
.order-btn:hover{
   
    background-color: rgb(0, 93, 155);
    cursor: pointer;
     transition: 0.3s ease;
    
}
.cat1{
    width: 100px;
    height: 100px;
    position: relative;
}
.cat1:hover{
    cursor: pointer;
     transition: 0.2s ease;
    transform: scale(110%);
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.para{
    width: 30px;
}
.products-txt{
display: flex;
justify-content: space-between;
align-items: center;
}
.product-img{
    height: 300px;
}
#card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}
#products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 7px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 4px -2px;
}
.card-title, .product-reviews{
width: 315px;
}





@media(max-width: 1055px){
    .pages > i{
    display: block;
}
ul{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 79px;
    right: 0px;
    text-align: center;
    box-shadow: 0px 0px 6px -2px;
    padding: 20px 30px 8px 30px;
    border-radius: 5px;
    background-color: white;
    transition: 0.7s ease-in;
}
li{
    padding-bottom: 17px;
}
}

@media(max-width: 768px){
    .home-content{
        flex-direction: column;
        width: 37%;
    margin: 10px 0px 0px 83px;
            padding-top: 45px;
        align-items: flex-start;


    }
    #home{
            height: 954px;

    }
    nav{
        width: 82%;
    }
    h2{
    font-size: 55px;
    margin-bottom: 22px;
            width: 598px;

}
p {
    width: 577px;
}
.headphone1 {
    height: 488px;
}
.home-txt{
    margin-bottom: 30px;
}
 ul{
        top: 86px;
                right: 12px;

    }
}


@media(max-width: 425px){
    .logo{
        height: 56px;
    }
    ul{
        top: 70px;
    }
    .home-content{
            flex-direction: column;
            width: 82%;
        margin: 10px 0px 0px 33px;
                padding-top: 45px;
            align-items: flex-start;
    
    
        }
        #home{
                height: 801px;
            width: 106%;

        }
        nav{
            width: 82%;
        }
        h2{
        font-size: 41px;
        margin-bottom: 22px;
                width: 337px;
    
    }
    .headphone1{
    height: 363px;
    }
    p{
    width: 378px;

    }
    .home-txt{
        margin-bottom: 30px;
    }
}
@media(max-width: 375px){
    .logo{
    height: 49px;
}
nav{
    width: 78%;
    padding: 4px 27px 4px 10px;
}
ul{
    top: 64px;
}
.fa-bars{
    font-size: 10px;
}
 .home-content{
            flex-direction: column;
            width: 90%;
        margin: 10px 0px 0px 33px;
                padding-top: 45px;
            align-items: flex-start;
    
    
        }
        #home{
                height: 801px;
            width: 106%;

        }
        nav{
            width: 82%;
        }
        h2{
        font-size: 35px;
        margin-bottom: 22px;
                width: 337px;
    
    }
    .headphone1{
    height: 342px;
    }
    p{
    width: 339px;

    }
    .home-txt{
        margin-bottom: 35px;
    }
}
@media(max-width: 320px){
    .logo{
    height: 49px;
}
nav{
    width: 86%;
    padding: 4px 14px 4px 6px;
}
ul{
    top: 63px;
}
.fa-bars{
    font-size: 10px;
}
.home-content{
            flex-direction: column;
            width: 90%;
        margin: 10px 0px 0px 33px;
                padding-top: 45px;
            align-items: flex-start;
    
    
        }
        #home{
                height: 801px;
            width: 106%;

        }
        nav{
            width: 82%;
        }
        h2{
        font-size: 35px;
        margin-bottom: 22px;
                width: 215px;
    
    }
    .headphone1{
    height: 282px;
    }
    p{
    width: 275px;

    }
    .home-txt{
        margin-bottom: 35px;
    }
}