*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    justify-self: center;
    padding: 2px 44px 2px 21px;
    margin: 14px 96px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -2px;
    position: relative;
    top: 0px;
    width: 80%;

}
ul{
    display: flex;
    gap: 39px;
        font-weight: 500;
            font-size: 17px;
            
}
li{
    list-style-type: none;

}
.logo{
    height: 68px;
}
.logo:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
    color: rgb(58, 58, 58);
}
.pages > i{
    display: none;
    font-size: 25px;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}

.fa-bars:hover{
    cursor: pointer;
    color: rgb(58, 58, 58);
}

@media(max-width: 1055px){
    .pages > i{
    display: block;
}
ul{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 79px;
    right: 0px;
    text-align: center;
    box-shadow: 0px 0px 6px -2px;
    padding: 20px 30px 8px 30px;
    border-radius: 5px;
    background-color: white;
}
li{
    padding-bottom: 17px;
}
}
@media(max-width: 425px){
    .logo{
    height: 56px;
}
ul{
    top: 66px;
}
}
@media(max-width: 375px){
    .logo{
    height: 49px;
}
nav{
    width: 78%;
    padding: 4px 27px 4px 10px;
}
ul{
    top: 64px;
}
.fa-bars{
    font-size: 10px;
}
}
@media(max-width: 320px){
    .logo{
    height: 49px;
}
nav{
    width: 86%;
    padding: 2px 14px 2px 6px;
}
ul{
    top: 59px;
}
.fa-bars{
    font-size: 10px;
}
}